DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=ulkas.duckdns.org
DJANGO_CSRF_TRUSTED_ORIGINS=https://ulkas.duckdns.org
PUBLIC_BASE_URL=https://ulkas.duckdns.org/fantasy
DJANGO_TIME_ZONE=Europe/Warsaw
DJANGO_FORCE_SCRIPT_NAME=/fantasy
DJANGO_SESSION_COOKIE_NAME=fantasy_sessionid
DJANGO_SESSION_COOKIE_PATH=/fantasy
DJANGO_CSRF_COOKIE_NAME=fantasy_csrftoken
DJANGO_CSRF_COOKIE_PATH=/fantasy
DJANGO_SESSION_COOKIE_AGE=315360000
DJANGO_SESSION_COOKIE_SECURE=1
DJANGO_CSRF_COOKIE_SECURE=1
DJANGO_SECURE_SSL_REDIRECT=1
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=1
DJANGO_SECURE_HSTS_PRELOAD=0
DJANGO_TRUST_PROXY_SSL_HEADER=1
DJANGO_USE_X_FORWARDED_HOST=1
POSTGRES_DB=fantasy
POSTGRES_USER=fantasy
POSTGRES_PASSWORD=replace-with-a-strong-db-password
POSTGRES_HOST=db
POSTGRES_PORT=5432
SERVER_NAME=ulkas.duckdns.org
FANTASY_OPENFOOTBALL_URL=https://raw.githubusercontent.com/openfootball/worldcup.json/master/2026/worldcup.json
FANTASY_FIFA_SCHEDULE_URL=https://www.fifa.com/en/tournaments/mens/worldcup/canadamexicousa2026/articles/match-schedule-fixtures-results-teams-stadiums
FANTASY_FIFA_SCORES_URL=https://www.fifa.com/en/tournaments/mens/worldcup/canadamexicousa2026/scores-fixtures
WEB_CONCURRENCY=1
GUNICORN_RELOAD=0
GUNICORN_THREADS=4
BACKUP_RETENTION_DAYS=7
